a {
    text-decoration: none;
    color: white;
}

main {
    margin-left: 232px;
    overflow-y: auto; /* Ermöglicht Scrollen bei langen Inhalten */
    display: flex;
    flex-direction: column; /* Flexibles Layout */
    box-sizing: border-box;
    overflow: hidden;
    height: 100vh;
}

.d-none {
    display: none;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Volle Höhe der Ansicht */
    overflow: hidden; /* Keine Scrollleisten für das gesamte Dokument */
    display: flex;
    flex-direction: column;
    background-color: #F6F7F8;
}


nav {
    flex-shrink: 0; /* Fixe Höhe */
}

header {
    flex-shrink: 0; /* Fixe Höhe */
}

h1 {
    font-size: 61px;
    font-weight: 700 ;
    margin: 0;
}
h2 {
    font-size: 27px;
    font-weight: 400px;
}
h3 {
    font-size: 20px;
}