.d-none {
    display: none !important;
}

.taskRows {
    display: flex;
    gap: 26px;
}

.tasksInRow {
    max-height: 688px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 252px;
    overflow-y: scroll;

}

.taskRow {
    width: 244px;
    gap: 16px;
}

.rowHeader {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 24px;
}

.rowHeaderText {
    display: flex;
    flex: 1;
}

.defaultNoTasks {
    background-color: #E7E7E7!important;
    border: dashed #A8A8A8 !important;
    color: #A8A8A8;
}

.singleTaskBoard {
    display: flex;
    flex-direction: column;
    max-height: 263px;
    width: 252px;
    background-color: white;
    border-radius: 24px;
    filter: drop-shadow(0px 0px 5px rgba(164, 163, 163, 0.265));
    padding: 16px;
    gap: 24px;
}

.categorySingleCard {
    height: 27px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blueBackground {
    background-color: #0038FF;
    width: 113px;
}

.lightBlueBackground {
    background-color: #1FD7C1;
    width: 144px;
}

.bottomDivSingleCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.addedContactsSingleCard {
    display: flex;
    flex: 1;
}

.prioImg {
    width: 32px;
}

.addedUserInitials {
    background-color: orange;
    border-radius: 50px;
    width: 48px;
    height: 48px;
    border: solid white 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -12px;
    z-index: 1;
}

.taskDetailSection {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.taskDetailMain {
    width: 525px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.detailCategory {
    width: 445px;
}

.detailHeader {
    width: 445px;
}

.detailInfos {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 445px;
}

.detailBtns {
    display: flex;
    width: 445px;
    justify-content: end;
    align-items: center;
    margin-bottom: 24px;
}

.detailBtns img {
    width: 24px;
    height: 24px;
}

.subtaskProgressBar {
    width: 100%;
    max-width: 128px;
    background-color: #f3f3f3;
    border: 1px solid #ccc;
    border-radius: 10px;
    height: 8px;
    margin: 10px 0;
    position: relative;
}

.subtaskProgressBarInner {
    height: 100%;
    width: 0%;
    background-color: #4589FF;
    border-radius: 10px;
    transition: width 0.3s ease;
}

.subtasksSingleCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subtaskCountSingleCard {
    display: flex;
    gap: 4px;
}

.detailSingleContact {
    border-radius: 50px;
    width: 48px;
    height: 48px;
    border: solid white 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divSingleContactDetail {
    display: flex;
    align-items: center;
    gap: 16px;
}

#detailContacts {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
}

#detailSubtasks {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.boardHeaderSearch {
    background-color: white;
    display: flex;
    width: 312px;
    border-radius: 10px;
    justify-content: space-between;
    height: 48px;
    align-items: center;
    padding: 0 16px ;
}

.boardHeaderInputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 504px;
}

.boardHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1,056px;
}

.boardHeaderDevider {
    width: 1px;
    height: 31px;
    background-color: #D1D1D1;
}

.boardHeaderSearch input {
    background-color: transparent;
    flex: 1;
    height: 32px;
}

.boardHeaderSearchBtn {
    width: 48px;
    display: flex;
    justify-content: end;
}

.boardHeaderAddTaskBtn {
    width: 160px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}