@media (min-width:790px){
    .mobil-hidden{
        display: block !important;
    }
}

@media (max-width: 790px){

    .reesponsive-detail-contact-button{
        display: none !important;
    }

    .responsive-contact-buttons{
        display: flex !important;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: fixed;
        bottom: 10px;
        right: 10px;
    }

    .contact-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1000;
    }

    .summary-container{
        padding: 0 !important;
    }

    .close-contact-info{
        display: block !important;
    }

    h1 {
        font-size: 32px !important;
    }

    .summary-container{
        font-size: 16px;
    }
    
    .summaryHeader{
        width: 100% !important;
    }

    .contentSummary{
        width: 80%;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .summary-container {
        display: flex;
        width: 100%;
        height: 80vh;
        align-items: center;
        justify-content: center;
    }

    .summaryRows{
        width: 100% !important;
    }

    .summaryRow1{
        gap: 8px;
    }

    .summaryRow3{
        gap: 8px;
    }

    .addTasksBtn{
        padding: 0 !important;
        height: auto;
    }

    .btnGray{
        display: flex;
        align-items: center;
    }

    .clearBtn{
        height: auto !important;
        padding: 0 8px;
    }

    .responsive-create-acc{
        display: flex;
        justify-content: space-between;
        gap: 128px;
        margin: 0 0 30px 0;
    }

    .responsive-create-acc p{
        font-weight: bolder;
    }

    .createAccountDiv{
        display: none;
    }

    .loginDiv{
        width: 80% !important;
        margin: 0 0 30px;
    }

    .loginData{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .loginData form{
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .loginButtons{
        gap: 32px;
        height: 48px;
        margin: 0;
    }

    .loginButtons button{
        align-items: center;
        display: flex;
        justify-content: center;
        font-size: small;
    }

    .backBtn{
        top: 10px;
        left: 10px;
    }

    .signUpDiv{
        width: 80%;
    }

    .contact-div{
        display: none !important;
    }

    .media-contact-div{
        display: flex !important;
        align-items: center;
        justify-content: end;
        width: 100%;
    }

    .media-contact-div button{
        border-radius: 50%;
        width: 48px !important;
    }


}

@media (max-width: 550px){

    .taskDetailMain{
        padding: 0 16px;
    }

    .coloumns{
        padding: 0 16px;
    }

    .cloumn1 , .detailInfos , .taskDetailMain , .detailCategory , .contacts-container , .showContacts , .detailBtns , .detailHeader , .smallInputField , .descriptionInput , .cloumn2 , .coloumn2NoSubtasks , .selectPrio , .selectPrio form , .selectPrio label , .boardHeaderSearch , .signUpDiv , .dataInput input{
        width: 100% !important;
    }

    .selectPrio label , .boardHeaderSearch{
        padding: 0 !important;
    }

    .selectPrio form{
        gap: 4px !important;
    }

    .boardHeaderInputs{
        width: 100% !important;
        gap: 8px;
    }

    .initials{
        width: 30px;
        height: 30px;
        padding: 8px;
    }

    .contacts{
        width: 100% !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .dataInput{
        align-items: center;
    }

    .signUpDiv{
        margin: 16px;
    }

    .accept{
        flex-direction: column;
    }

    .contacts{
        min-width: 100% !important;
    }

    
}

@media (max-width: 400px){
    .clearBtn{
        height: 48px !important;
    }

    .btnGray{
        padding: 8px;
    }

    .contentSummary{
        width: 100%;
        padding: 8px;
    }

    .showContacts{
        padding: 0 !important;
        max-height: 69vh !important;
    }

    .responsive-create-acc , .login-links-container{
        gap: 60px;
    }

    .loginButtons {
        gap: 16px;

    }
}