@media (max-width: 1350px) {
    .navbar {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: auto;
        flex-direction: row;
        justify-content: space-around;
        box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }

    .nav-container {
        gap: 0;
        width: 100%;
        height: 76px;
        flex-direction: row;
    }

    .nav-container a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        padding: 8px 0;
    }

    .nav-container a img {
        width: 30px;
        height: 30px;
    }

    .navbar .flex.flex-col {
        display: none;
    }

    .startseite-header {
        margin-left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .startseite-header img {
        display: block;
        width: 30px;
        height: 30px;
        margin-right: 16px;
    }

    .startseite-header p {
        display: none;
    }

    main {
        margin-bottom: 70px;
        margin-left: 0;
    }

    .kanban-logo {
        display: none;
    }

    .taskRows{
        height: 65vh !important;
    }

    .showContacts{
        height: 71vh;
    }
}

@media (max-width: 1100px) {
    main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        overflow-y: auto !important;
    }

    .greetings {
        display: none !important;
    }

    .coloumns {
        display: flex !important;
        flex-direction: column !important;
        overflow-y: auto !important;
        height: 60vh;
        width: 100%;
        align-items: center;
    }

    .sepererator {
        display: none;
    }

    .add-task-container {
        padding: 0 !important;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .addTasksBtn {
        display: flex;
        gap: 16px;
        bottom: 80px;
        position: fixed;
        flex-direction: row-reverse;
        right: 30%;
        align-items: center;
    }

    .taskRows{
        flex-direction: column;
    }

    .tasksInRow {
        box-sizing: border-box;
        gap: 8px;
        display: flex;
        flex-direction: column;
        min-height: 10vh !important;
        padding: 16px 0;
    }

    .board-container{
        padding: 0  !important;
        height: 80vh;
    }

    .boardHeader{
        flex-direction: column;
        margin: 8px 0;
    }

    .boardHeaderInputs button p{
        display: none;
    }

    .boardHeaderAddTaskBtn{
        width: 48px !important;
    }

    .headline-container{
        display: flex;
        flex-direction: column;
    }

    .contact-container span {
        display: contents !important;
    }

    .seperator{
        width: 80px;
        height: 3px;
        background-color: #29abe2;
    }

    .contact-details-img{
        width: 64px !important;
        height: 64px !important;
        font-size: 20px !important;
    }
    .contact-info-container h2{
        font-size: 20px !important;
    }
}

@media (max-width: 790px){

    .contact-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1000;
        visibility: hidden;
        transform: translateX(100%);
    }

    .contact-container.show {
        display: none;
    }

    .summary-container{
        padding: 0 !important;
    }

    .close-contact-info{
        display: block !important;
    }

    h1 {
        font-size: 32px;
    }

    .summary-container{
        font-size: 16px;
    }
    
    .summaryHeader{
        width: 100% !important;
    }

    .contentSummary{
        width: 80%;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .summary-container {
        display: flex;
        width: 100%;
        height: 80vh;
        align-items: center;
        justify-content: center;
    }

    .summaryRows{
        width: 100% !important;
    }

    .summaryRow1{
        gap: 8px;
    }

    .summaryRow3{
        gap: 8px;
    }

    .addTasksBtn{
        padding: 0 !important;
        height: auto;
    }

    .btnGray{
        display: flex;
        align-items: center;
    }

    .clearBtn{
        height: auto !important;
        padding: 0 8px;
    }

    .responsive-create-acc{
        display: flex;
        justify-content: space-between;
        gap: 128px;
        margin: 0 0 30px 0;
    }

    .responsive-create-acc p{
        font-weight: bolder;
    }

    .createAccountDiv{
        display: none;
    }

    .loginDiv{
        width: 80% !important;
        margin: 0 0 30px;
    }

    .loginData{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .loginData form{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .backBtn{
        top: 10px;
        left: 10px;
    }

    .signUpDiv{
        width: 80%;
    }
}

@media (max-width: 550px){
    .coloumns{
        padding: 0 16px;
    }

    .cloumn1 , .smallInputField , .descriptionInput , .cloumn2 , .coloumn2NoSubtasks , .selectPrio , .selectPrio form , .selectPrio label , .boardHeaderSearch , .signUpDiv , .dataInput input{
        width: 100% !important;
    }

    .selectPrio label , .boardHeaderSearch{
        padding: 0 !important;
    }

    .selectPrio form{
        gap: 4px !important;
    }

    .boardHeaderInputs{
        width: 100% !important;
        gap: 8px;
    }

    .initials{
        width: 30px;
        height: 30px;
        padding: 8px;
    }

    .contacts{
        width: 100% !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .dataInput{
        align-items: center;
    }

    .signUpDiv{
        margin: 16px;
    }

    .accept{
        flex-direction: column;
    }

    
}

@media (max-width: 400px){
    .clearBtn{
        height: 48px !important;
    }

    .btnGray{
        padding: 8px;
    }

    .contentSummary{
        width: 100%;
        padding: 8px;
    }

    .contacts button{
        width: 100% !important;
        padding: 24px !important;
    }

    .contacts{
        min-width: none;
    }

    .showContacts{
        padding: 0 !important;
        max-height: 69vh !important;
    }

    .responsive-create-acc , .login-links-container{
        gap: 60px;
    }

    .loginButtons {
        gap: 16px;

    }
}
