.sepreratorHeader {
    background-color: #29ABE2;
    width: 3px;
    height: 59px;
}

.secondHeader{
 font-size: 27px;
 font-weight: 400;
 color: #2A3647;
}

.summaryHeader {
    width: 625px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.summaryContainer {
display: flex;

}

.summaryRows {
    width: 560px;
    display: flex;
    flex-direction: column;
    height: 562px;
    justify-content: space-between;
}

.summaryRow1 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.divRow1 {
    width: 264px;
    height: 168px;
    border-radius: 30px;
    display: flex;
    gap: 18px;
    justify-content: center;
    align-items: center;
    background-color: white;
    filter: drop-shadow(0px 0px 5px rgba(164, 163, 163, 0.265));
    transition: background-color 0.3s ease, filter 0.3s ease;
}

.divRow1:hover {
    background-color: #2A3647;
    color: white;
    filter: drop-shadow(5px 5px 5px #2A3647);
}

.divRow1 svg {
    width: 69px;
    height: 69px;
    transition: fill 0.3s ease;
}

.svg-fill-todo:hover circle{
    fill: white; /* Füllt den Kreis mit Weiß beim Hover */
}

.svg-fill-todo:hover path{
    fill: #2A3647; /* Färbt den Stift (Pfad) in Blau (#2A3647) */
}

/* Hover-Effekte */
.svg-fill-done:hover svg circle {
    fill: white; /* Der Kreis wird weiß */
}

.svg-fill-done:hover svg path {
    stroke: #2A3647; /* Die Outline des Pfads wird Blau */
}

.summaryRow3 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.SummaryRow3Style {
    width: 168px;
    height: 168px;
    border-radius: 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0px 0px 5px rgba(164, 163, 163, 0.265));

}
.SummaryRow3Style:hover {
    background-color: #2A3647;
    color: white;
    filter: drop-shadow(5px 5px 5px #2A3647);
}

.summaryRow2 {
    width: 100%;
    height: 168px;
    background-color: white;
    border-radius: 30px;
    filter: drop-shadow(0px 0px 5px rgba(164, 163, 163, 0.265));
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.summaryRow2:hover{
    background-color: #2A3647;
    color: white;
    filter: drop-shadow(5px 5px 5px #2A3647);
}

.SummaryRow3Left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 130px;
    height: 96px;

}

.SummaryRow3TextLeft {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dividerRow2 {
    background-color: #D1D1D1;
    width: 2px;
    height: 102px;
}

.greetings {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 3px;
}